casestudy_02-VehicleLicensing/resource-files/EmissionTestService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://sample.esb.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://sample.esb.org">
    <wsdl:documentation>EmissionTestService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sample.esb.org">
            <xs:element name="EmissionTestServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EmissionTestServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getCertificateID">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vehicleNumber" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificateIDResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCertificateIDRequest">
        <wsdl:part name="parameters" element="ns:getCertificateID"/>
    </wsdl:message>
    <wsdl:message name="getCertificateIDResponse">
        <wsdl:part name="parameters" element="ns:getCertificateIDResponse"/>
    </wsdl:message>
    <wsdl:message name="EmissionTestServiceException">
        <wsdl:part name="parameters" element="ns:EmissionTestServiceException"/>
    </wsdl:message>
    <wsdl:portType name="EmissionTestServicePortType">
        <wsdl:operation name="getCertificateID">
            <wsdl:input message="ns:getCertificateIDRequest" wsaw:Action="urn:getCertificateID"/>
            <wsdl:output message="ns:getCertificateIDResponse" wsaw:Action="urn:getCertificateIDResponse"/>
            <wsdl:fault message="ns:EmissionTestServiceException" name="EmissionTestServiceException" wsaw:Action="urn:getCertificateIDEmissionTestServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmissionTestServiceSoap11Binding" type="ns:EmissionTestServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCertificateID">
            <soap:operation soapAction="urn:getCertificateID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmissionTestServiceException">
                <soap:fault use="literal" name="EmissionTestServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmissionTestServiceSoap12Binding" type="ns:EmissionTestServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCertificateID">
            <soap12:operation soapAction="urn:getCertificateID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmissionTestServiceException">
                <soap12:fault use="literal" name="EmissionTestServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmissionTestServiceHttpBinding" type="ns:EmissionTestServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getCertificateID">
            <http:operation location="getCertificateID"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmissionTestService">
        <wsdl:port name="EmissionTestServiceHttpSoap11Endpoint" binding="ns:EmissionTestServiceSoap11Binding">
            <soap:address location="http://192.168.200.97:9763/services/EmissionTestService.EmissionTestServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmissionTestServiceHttpsSoap11Endpoint" binding="ns:EmissionTestServiceSoap11Binding">
            <soap:address location="https://192.168.200.97:9443/services/EmissionTestService.EmissionTestServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmissionTestServiceHttpSoap12Endpoint" binding="ns:EmissionTestServiceSoap12Binding">
            <soap12:address location="http://192.168.200.97:9763/services/EmissionTestService.EmissionTestServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmissionTestServiceHttpsSoap12Endpoint" binding="ns:EmissionTestServiceSoap12Binding">
            <soap12:address location="https://192.168.200.97:9443/services/EmissionTestService.EmissionTestServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmissionTestServiceHttpEndpoint" binding="ns:EmissionTestServiceHttpBinding">
            <http:address location="http://192.168.200.97:9763/services/EmissionTestService.EmissionTestServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmissionTestServiceHttpsEndpoint" binding="ns:EmissionTestServiceHttpBinding">
            <http:address location="https://192.168.200.97:9443/services/EmissionTestService.EmissionTestServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>