casestudy_02-VehicleLicensing/resource-files/LicenseService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2435="http://sample.esb.org/xsd" xmlns:ns="http://sample.esb.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://sample.esb.org">
    <wsdl:documentation>LicenseService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2436="http://sample.esb.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sample.esb.org">
            <xs:import namespace="http://sample.esb.org/xsd"/>
            <xs:element name="LicenseServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="LicenseServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="renewLicense">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="vehicleNumber" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="insurancePolicy" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ecoCert" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="renewLicenseResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2435:LicenseServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sample.esb.org/xsd">
            <xs:complexType name="LicenseServiceResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fee" type="xs:int"/>
                    <xs:element minOccurs="0" name="referenceNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="renewLicenseRequest">
        <wsdl:part name="parameters" element="ns:renewLicense"/>
    </wsdl:message>
    <wsdl:message name="renewLicenseResponse">
        <wsdl:part name="parameters" element="ns:renewLicenseResponse"/>
    </wsdl:message>
    <wsdl:message name="LicenseServiceException">
        <wsdl:part name="parameters" element="ns:LicenseServiceException"/>
    </wsdl:message>
    <wsdl:portType name="LicenseServicePortType">
        <wsdl:operation name="renewLicense">
            <wsdl:input message="ns:renewLicenseRequest" wsaw:Action="urn:renewLicense"/>
            <wsdl:output message="ns:renewLicenseResponse" wsaw:Action="urn:renewLicenseResponse"/>
            <wsdl:fault message="ns:LicenseServiceException" name="LicenseServiceException" wsaw:Action="urn:renewLicenseLicenseServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LicenseServiceSoap11Binding" type="ns:LicenseServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="renewLicense">
            <soap:operation soapAction="urn:renewLicense" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LicenseServiceException">
                <soap:fault use="literal" name="LicenseServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LicenseServiceSoap12Binding" type="ns:LicenseServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="renewLicense">
            <soap12:operation soapAction="urn:renewLicense" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LicenseServiceException">
                <soap12:fault use="literal" name="LicenseServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LicenseServiceHttpBinding" type="ns:LicenseServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="renewLicense">
            <http:operation location="renewLicense"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LicenseService">
        <wsdl:port name="LicenseServiceHttpSoap11Endpoint" binding="ns:LicenseServiceSoap11Binding">
            <soap:address location="http://192.168.200.97:9763/services/LicenseService.LicenseServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LicenseServiceHttpsSoap11Endpoint" binding="ns:LicenseServiceSoap11Binding">
            <soap:address location="https://192.168.200.97:9443/services/LicenseService.LicenseServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LicenseServiceHttpSoap12Endpoint" binding="ns:LicenseServiceSoap12Binding">
            <soap12:address location="http://192.168.200.97:9763/services/LicenseService.LicenseServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LicenseServiceHttpsSoap12Endpoint" binding="ns:LicenseServiceSoap12Binding">
            <soap12:address location="https://192.168.200.97:9443/services/LicenseService.LicenseServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LicenseServiceHttpsEndpoint" binding="ns:LicenseServiceHttpBinding">
            <http:address location="https://192.168.200.97:9443/services/LicenseService.LicenseServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="LicenseServiceHttpEndpoint" binding="ns:LicenseServiceHttpBinding">
            <http:address location="http://192.168.200.97:9763/services/LicenseService.LicenseServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>