casestudy_02-VehicleLicensing/resource-files/PaymentService.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://sample.esb.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://sample.esb.org">
    <wsdl:documentation>PaymentService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sample.esb.org">
            <xs:element name="PaymentServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="PaymentServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="doPayment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNo" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doPaymentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="doPaymentRequest">
        <wsdl:part name="parameters" element="ns:doPayment"/>
    </wsdl:message>
    <wsdl:message name="doPaymentResponse">
        <wsdl:part name="parameters" element="ns:doPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="PaymentServiceException">
        <wsdl:part name="parameters" element="ns:PaymentServiceException"/>
    </wsdl:message>
    <wsdl:portType name="PaymentServicePortType">
        <wsdl:operation name="doPayment">
            <wsdl:input message="ns:doPaymentRequest" wsaw:Action="urn:doPayment"/>
            <wsdl:output message="ns:doPaymentResponse" wsaw:Action="urn:doPaymentResponse"/>
            <wsdl:fault message="ns:PaymentServiceException" name="PaymentServiceException" wsaw:Action="urn:doPaymentPaymentServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentServiceSoap11Binding" type="ns:PaymentServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="doPayment">
            <soap:operation soapAction="urn:doPayment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PaymentServiceException">
                <soap:fault use="literal" name="PaymentServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaymentServiceSoap12Binding" type="ns:PaymentServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="doPayment">
            <soap12:operation soapAction="urn:doPayment" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="PaymentServiceException">
                <soap12:fault use="literal" name="PaymentServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PaymentServiceHttpBinding" type="ns:PaymentServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="doPayment">
            <http:operation location="doPayment"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentService">
        <wsdl:port name="PaymentServiceHttpsSoap11Endpoint" binding="ns:PaymentServiceSoap11Binding">
            <soap:address location="https://192.168.200.97:9443/services/PaymentService.PaymentServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PaymentServiceHttpSoap11Endpoint" binding="ns:PaymentServiceSoap11Binding">
            <soap:address location="http://192.168.200.97:9763/services/PaymentService.PaymentServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PaymentServiceHttpsSoap12Endpoint" binding="ns:PaymentServiceSoap12Binding">
            <soap12:address location="https://192.168.200.97:9443/services/PaymentService.PaymentServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PaymentServiceHttpSoap12Endpoint" binding="ns:PaymentServiceSoap12Binding">
            <soap12:address location="http://192.168.200.97:9763/services/PaymentService.PaymentServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="PaymentServiceHttpsEndpoint" binding="ns:PaymentServiceHttpBinding">
            <http:address location="https://192.168.200.97:9443/services/PaymentService.PaymentServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="PaymentServiceHttpEndpoint" binding="ns:PaymentServiceHttpBinding">
            <http:address location="http://192.168.200.97:9763/services/PaymentService.PaymentServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>